/.bundle/
/.java-version
/.ruby-version
/.yardoc/
/coverage/
/pkg/
/tmp/
/vendor/bundle/
/vendor/jar-dependencies/
/vendor/jars/
*.gem
*.h2.db
*.mv.db
*.lock.db
*.trace.db
*.pfx
*.p12
m365-tenant-output/
*.secret.txt
m365-logstash-client-secret.txt
TestResults.xml
